@model Forms.Models.UserProfile

<h1>Registration Completed Successfully</h1>
<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Email Address: @Model.EmailAddress</p>
<p>Phone Number: @Model.PhoneNumber</p>
<p>Age: @Model.Age</p>
<p>City: @Model.City</p>
